<footer class="footer">
        <div class="footer__copyright">
            <div>
    	       <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">本站点采用 知识共享 署名-非商业性使用-相同方式共享 4.0 国际 许可协议</a>
            </div>
            <div>
    	        <a href="https://hexo.io/">基于Hexo</a> 搭建 | - 本站由 <a href="https://github.com/sunnyvalue/">@sunnyvalue</a> 创建，采用 <a href="https://github.com/sunnyvalue/sunny-blog.git">huno</a> 作为主题
            </div>
            <div>
                本页点击 
                <span id="busuanzi_value_page_pv"></span> 次| 本站总点击 <span id="busuanzi_value_site_pv"></span> 次| 您是第 <span id="busuanzi_value_site_uv">
                </span> 位访客
	            <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
	            </script>
                <span><a href="/sitemap.xml">Google网站地图</a></span>
  	            <span><a href="/baidusitemap.xml">百度网站地图</a></span>
            </div>
        </div>
  	 <script>
		(function(){
    		var bp = document.createElement('script');
    		bp.src = '//push.zhanzhang.baidu.com/push.js';
    		var s = document.getElementsByTagName("script")[0];
    		s.parentNode.insertBefore(bp, s);
		})();
	 </script>
</footer>
